:root {
    --backgroundColour: #30464f;
    --primaryColour: #3fa4cf;
    --secondaryColour: #102b36;
    --tertiaryColour: #4f7382;
    --quaternaryColour: #286782;
}

* {
    box-sizing: border-box;
}

html,
body {
    background: var(--backgroundColour);
    margin: 0;
    padding: 0;
}