@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding|Press+Start+2P');

:root {
    --backgroundColour: #30464f;
    --primaryColour: #3fa4cf;
    --secondaryColour: #102b36;
    --tertiaryColour: #4f7382;
    --quaternaryColour: #286782;
    --headingFont: 'Press Start 2P', sans-serif;
    --textFont: 'Nanum Gothic Coding', sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    background: var(--backgroundColour);
    margin: 0;
    padding: 0;
}